@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist);
  --font-mono: var(--font-geist-mono);
  --color-ink: #1e1e1e;
  --color-beige: #f0efea;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}
